.hidden {
  display: none;
}
.container {
  width: 20vw;
  min-width: 400px;
  margin: 0 auto 15px auto;
  padding-top: 15px;
  border-bottom: 1px solid gray;
}
.price-edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.15em;
}
.price-edit input {
  height: 1.6em;
}
.content {
  display: flex;
  flex-direction: column;
}
textarea,
input {
  font-size: 1.15em;
}
.controls {
  padding-top: 5px;
}
.warning {
  color: red;
  font-weight: bolder;
}
#toaster {
  display: flex;
  position: absolute;
  width: 800px;
  height: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: calc(50vw - 400px);
  top: 100vh;
}
.slidein {
  animation-name: slidein;
  animation-duration: 2s;
  animation-delay: 0s;
}
@keyframes slidein {
  from { top: 100vh; }
  to { top: calc(100vh - 400px); }
}