html {
  font-family: monospace;
}
.hidden {
  display: none;
}
.container {
  border-bottom: 1px solid gray;
  margin: 0 auto 15px auto;
  min-width: 400px;
  padding-top: 15px;
  width: 20vw;
}
.price-edit {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 1.15em;
  justify-content: flex-start;
}
.price-edit input {
  height: 1.6em;
}
.content {
  display: flex;
  flex-direction: column;
}
textarea,
input {
  font-family: monospace;
  font-size: 1.15em;
}
.controls {
  padding-top: 5px;
}
.toaster {
  align-items: center;
  background-color: #ffffffb5;
  color: yellow;
  display: flex;
  font-size: 2em;
  height: 250px;
  justify-content: center;
  left: calc(50vw - 250px);
  pointer-events: none;
  position: fixed;
  text-align: center;
  text-shadow: 1px 1px 1px #bbb,
               -1px 1px 1px #bbb,
               1px -1px 1px #bbb,
               -1px -1px 1px #bbb;
  width: 500px;
  z-index: 10;
}
.warning {
  color: red;
  font-weight: bolder;
}
.toaster-offscreen {
  top: 100vh;
}
.toaster-shown {
  top: calc(100vh - 270px);
}
.slidein {
  animation-delay: 0s;
  animation-duration: 1s; /* TODO: need SASS for SSOT */
  animation-name: slidein;
}
.slideout {
  animation-delay: 0s;
  animation-duration: 500ms; /* TODO: need SASS for SSOT */
  animation-name: slideout;
}
@keyframes slidein {
  from { top: 100vh; }
  to { top: calc(100vh - 270px); }
}
@keyframes slideout {
  from { top: calc(100vh - 270px); }
  to { top: 100vh; }
}