html {
  font-family: "Lucida Console", Monaco, monospace;
}
.hidden {
  display: none;
}
.container {
  border-bottom: 1px solid gray;
  margin: 0 auto 15px auto;
  min-width: 400px;
  padding-top: 15px;
  width: 20vw;
}
.price-edit {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.15em;
  justify-content: flex-start;
}
.price-edit input {
  height: 1.6em;
}
.content {
  display: flex;
  flex-direction: column;
}
textarea,
input {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.15em;
}
.controls {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.toaster {
  align-items: center;
  background-color: #DCECF6D0;
  border-radius: 5px;
  border: 2px solid #D7ECF5D0;
  color: #2D6183;
  display: flex;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2em;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  text-align: center;
  z-index: 10;
}
.warning {
  background-color: #F5D7D7D0;
  border: 2px solid #F5D7D7D0;
  color: #C24343;
}
.toaster-offscreen {
  top: 100vh;
}
.slidein {
  animation-delay: 0s;
  animation-duration: 300ms; /* TODO: need SASS for SSOT */
  animation-name: slidein;
}
.slideout {
  animation-delay: 0s;
  animation-duration: 1s; /* TODO: need SASS for SSOT */
  animation-name: slideout;
}
