html {
  font-family: "Lucida Console", Monaco, monospace;
}
body {
  margin: 0;
  overflow-x: hidden;
  background-color: #eaead2;
}
.hidden {
  display: none;
}
.navbar {
  align-items: center;
  background-color: #bbb;
  border: solid 4px black;
  box-sizing: border-box;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin-bottom: 5px;
  margin: 0;
  padding: 10px 20px 10px 15px;
  width: 100%;
  position: fixed;
  top: 0;
}
.right {
  display: flex;
  justify-content: space-around;
  justify-self: flex-end;
}
.navbar-link:link, .navbar-link:visited {
  align-items: center;
  background-color: #ef2;
  border-radius: 10px;
  border: solid 1px black;
  color: black;
  color: inherit;
  display: flex;
  height: 55px;
  justify-content: center;
  text-align: center;
  text-decoration: inherit;
  width: 100px;
}
.google-image {
  border-radius: 50%;
  margin-right: 10px;
  height: 35px;
  position: relative;
  left: 88px;
}
.google-image-container {
  height: 55px
}
.google-image-container .tooltip {
  left: -15px;
  top: 15px;
  position: relative;
  font-size: 0.9em;
}

/* Toaster */
.toaster {
  align-items: center;
  background-color: #DCECF6D0;
  border-radius: 5px;
  border: 2px solid #D7ECF5D0;
  color: #2D6183;
  display: flex;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2em;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  text-align: center;
  z-index: 10;
}
.warning {
  background-color: #F5D7D7D0;
  border: 2px solid #F5D7D7D0;
  color: #C24343;
}
.toaster-offscreen {
  top: 100vh;
}
.slidein {
  animation-delay: 0s;
  animation-duration: 300ms; /* TODO: need SASS for SSOT */
  animation-name: slidein;
}
.slideout {
  animation-delay: 0s;
  animation-duration: 1s; /* TODO: need SASS for SSOT */
  animation-name: slideout;
}