html {
  font-family: "Lucida Console", Monaco, monospace;
}
body {
  margin: 0;
  overflow-x: hidden;
  background-color: #eaead2;
}
.navbar {
  align-items: center;
  background-color: #bbb;
  border: solid 4px black;
  box-sizing: border-box;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin-bottom: 5px;
  margin: 0;
  padding: 10px 20px 10px 15px;
  width: 100%;
  position: fixed;
}
.right {
  display: flex;
  justify-content: space-around;
  justify-self: flex-end;
}
.navbar-link:link, .navbar-link:visited {
  align-items: center;
  background-color: #ef2;
  border-radius: 10px;
  border: solid 1px black;
  color: black;
  color: inherit;
  display: flex;
  height: 55px;
  justify-content: center;
  text-align: center;
  text-decoration: inherit;
  width: 100px;
}
.google-image {
  border-radius: 50%;
  margin-right: 10px;
  height: 35px;
  position: relative;
  left: 88px;
}
.google-image-container {
  height: 55px
}
.google-image-container .tooltip {
  left: -15px;
  top: 15px;
  position: relative;
  font-size: 0.9em;
}