<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="{{CLIENT_ID}}">
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
  <link rel="stylesheet" href="/static/styles.css" />
  <style>
    .hero {
      margin: 100px auto 0 auto;
      width: fit-content;
    }
  </style>
  <title>Login</title>
</head>
<body>
  {% include 'components/navbar.html' %}
  <div class="container">
    <div class="hero">
      <div id="signinButton">
        <div class="g-signin2"
          data-onsuccess="signInCallback"
          data-scope="openid email"
          data-accesstype="offline"
          data-approvalprompt="force"
          data-theme="dark">
        </div>
        <!-- <div id="google-signin-button"></div> -->
      </div>
      <div id="result"></div>
    </div>
  </div>
  <script>
    function onLoad() {
      gapi.load('auth2,signin', () => {
        const auth2 = gapi.auth2.init()
        auth2.then(() => {
          // Current values
          const isSignedIn = auth2.isSignedIn.get()
          const currentUser = auth2.currentUser.get()
        })
      })
    }

    function signInCallback(authResult) {
      if(authResult && authResult.code) {
        const resultElement = document.querySelector('#result')
        document.querySelector('#signinButton').style.display = 'none'
        resultElement.innerHTML =
          `Logging in...`
        fetch('/gconnect?state={{STATE}}', {
          'method': 'POST',
          'body': authResult.code,
          'headers': {
            'Content-Type': 'application/octet-stream; charset=utf-8',
          }
        })
          .then(result => {
            if(result) {
              resultElement.innerHTML =
                `Login Successful!<br /><br />Redirecting...`
              setTimeout(() => {
                window.location.href = '/'
              }, 4000)
            } else if(authResult.error) {
              // TODO: move script to module, import toaster, pushMsg error
            }
          })
          .catch(err => {
            resultElement.innerHTML = `
              Failed to make a server-side call.
              Check your configuration and console.\n
              Serverside Error: ${JSON.stringify(err, null, 2)}
            `
          })
      }
    }
  </script>
</body>
</html>