<html>
<head>
   <meta name="google-signin-client_id" content="{{CLIENT_ID}}">
</head>
<body>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        fetch('/gdisconnect')
          .then(() => {
            window.location.href = '/login'
          })
      });
    }

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init()
          .then(signOut)
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</body>
</html>