<div class="navbar">
  {% with messages = get_flashed_messages() %}
    <script>
      window.flashMessages = JSON.parse('{{ messages|tojson }}')
      </script>
  {% endwith %}
  {% if session_user %}
    <script>
      window.sessionUserData = JSON.parse('{{ session_user|tojson }}')
    </script>
  {% else %}
    <script>
      window.sessionUserData = null
    </script>
  {% endif %}
  <script src="/static/toaster.js" type="module"></script>
  <script src="/static/navbar.js" type="module"></script>
  <a class="navbar-link" href="/">Catalog</a>
  <div class="right">
    {% if 'token' not in session_user %}
      <a class="navbar-link" href="/login">Login</a>
    {% else %}
      <div class="google-image-container">
        <img class="google-image" />
        <span class="tooltip"></span>
      </div>
      <a id="logout" href="javascript:void(0)" class="navbar-link">Sign out</a>
      <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
      <script>
        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance()
          auth2.signOut()
            .then(() => {
              return fetch('/gdisconnect').then(res => res.json())
            })
            .then((res) => {
              auth2.disconnect()
              window.location.reload(true)
            })
            .catch(err => {
              console.error(err)
            })
        }
        function onLoad() {
          gapi.load('auth2', () => {
            const auth2 = gapi.auth2.init()
            auth2.then(() => {
              const currentUser = auth2.currentUser.get()
            })
          })
        }
        document.addEventListener('DOMContentLoaded', () => {
          document.querySelector('#logout').addEventListener('click', (e) => {
            e.preventDefault()
            signOut()
          })
        })
        window.signOut = signOut
      </script>
    {% endif %}
      <!-- Citation: https://developers.google.com/identity/sign-in/web/sign-in#before_you_begin -->
  </div>
</div>